<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.MemberMapper">

  <!-- 로그인 -->
  <select id="login" parameterType="com.yedam.vo.MemberDTO" resultType="com.yedam.vo.MemberDTO">
    SELECT member_id AS "memberId", password, name, email, phone, auth, TO_CHAR(join_date, 'yyyy-MM-dd') AS "joinDate", birth_date 
    FROM member 
    WHERE member_id = #{memberId} 
   </select>

  <!-- 로그인 확인 -->
  <select id="loginCheck" parameterType="com.yedam.vo.MemberDTO" resultType="com.yedam.vo.MemberDTO">
    <!-- SELECT 
      member_id,
      password,
      name,
      email,
      phone,
      auth,
      TO_CHAR(join_date, 'yyyy-MM-dd'),
      birth_date
    FROM member 
    WHERE member_id = #{memberId} 
      AND password = #{password}
      -->
    SELECT 
      member_id,password,name,email,phone,auth,TO_CHAR(join_date, 'yyyy-MM-dd'),birth_date,is_membership 
    FROM member 
    WHERE member_id = #{memberId} 
      AND password = #{password}
  </select>
  
    <!-- 회원가입 -->
  <insert id="insertMember" parameterType="com.yedam.vo.MemberDTO">
    INSERT INTO member (
      member_id, password, name, email, phone,  birth_date
    ) VALUES (
      #{memberId}, #{password}, #{name}, #{email}, #{phone}, #{birthDate}
    )
  </insert>
  </mapper>