<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.MovieMapper">
	<!-- 영화목록 -->
	<select id="selectList" resultType="com.yedam.vo.MovieVO">
		select movie_id,
		       genre_id,
		       title,
		       description,
		       thumbnail,
		       video_url,
		       total_star,
		       star_count,
		       view_count from movie
	</select>

</mapper>